{% extends 'base.html' %}

{% block content %}

	<h4 class="description">Zmiana parametrów serwera</h4>
	<form id="server-change" action='.' method='POST'>{% csrf_token %}
		{{ form.as_p }}
		<button class="btn btn-outline-success" type="submit">Zapisz</button>
	</form>
	<div class="btn-group" role="group">
		<a class="nav-link" href="{% url 'server' pk1=server.service.id pk2=server.id %}"><button class="btn btn-outline-dark" type="submit">Powrót do serweru</button></a>
		<a class="nav-link" href="{% url 'server-list' pk=server.service.id %}"><button class="btn btn-outline-dark" type="submit">Powrót do listy serwerów</button></a>
	</div>

{% endblock %}
