{% extends 'base.html' %}

{% block content %}

	<section id="service-delete-container" class="">
		<form action='.' method="POST">{% csrf_token %}
			<h4>Czy na pewno chcesz usunąć tę usługę?</h4>
			<div class="row">
				<div class="col" style="text-align:right; margin-right: 10px;">
					<input class="btn btn-outline-dark" type='submit' value='Tak' />
				</div>
				<div class="col" style="text-align:left;">
					<a class="btn btn-outline-primary" href="#" onclick="javascript:window.history.back(-1);return false;">Nie</a>
				</div>
			</div>
		</form>
	</section>
	<div class="btn-group" role="group">
		<a class="nav-link" href="{% url 'service' pk=service.id %}"><button class="btn btn-outline-dark" type="submit">Powrót do usługi</button></a>
		<a class="nav-link" href="{% url 'service-list'  %}"><button class="btn btn-outline-dark" type="submit">Powrót do listy usług</button></a>
	</div>

{% endblock %}
