{% extends 'base.html' %}

{% block content %}

<section id="server-delete-container" class="">

	<form action='.' method="POST">{% csrf_token %}

		<h4>Czy na pewno chcesz usunąć ten serwer?</h4>
		<br/>

		<div class="row">
			<div class="col" style="text-align:right; margin-right: 10px;">
				<input class="btn btn-success" type='submit' value='Tak' />
			</div>

			<div class="col" style="text-align:left;">
				<a class="btn btn-danger" href="#" onclick="javascript:window.history.back(-1);return false;">
					Nie
				</a>
			</div>

		</div>
	</form>

</section>

{% endblock %}
