<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Ponton web app</title>
  <meta name="description" content="Load balancer web app">
  <meta name="author" content="Tomasz Wiśniewski">
	
</head>

<body class="body">
	
	<div id="auth-check">
		{% if user.is_authenticated %}
			<p>Cześć, {{ user.username }}. Dzięki, że się zalogowałeś!</p>
		{% else %}
			<p>Cześć, zaloguj się lub utwórz konto!</p>
		{% endif %}
	</div>

  	{% block content %}
  		template nie zaladowany
	{% endblock %}
</body>
</html> 