{% extends 'base.html' %}

{% block content %}

	<section class="log-in-form">
		<h4 class="description">Zaloguj się</h4>
		<form class="create-account" method="POST">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Zaloguj się" class="btn btn-success">
			<br/><br/>
			<small>
				<p><a href="{% url 'signup' %}">Nie masz konta? Zarejestruj się</a></p>
				<p><a href="{% url 'password_reset' %}">Nie pamiętasz hasła?</a></p>
			</small>
		</form>
	</section>

{% endblock %}
