{% extends 'base.html' %}

{% block content %}
<body class="body">
	
	<header>
		<h1 class="title">Ponton</h1>
		<h6 class="description">Loadbalancer</h6>
	</header>
	<br/>
	
	<main>

		<section id="auth-section" class="container-fluid">
			<h5>
				<a href="{% url 'user-login' %}">
					<button type="button" name="button" class="btn btn-primary btn-lg">Zaloguj się</button>
				</a>
			</h5>
			<h5>
				<a class="btn btn-outline-primary" href="{% url 'home' %}">Jesteś zalogowany? Przejdź do aplikacji</a>
			</h5>

			
		</section>
		<br/><br/><br/><br/>

		<footer class="footer text-left">
			<div class="container">
				<div class="row">
					<div class="col-sm">
						<h4 class="font-weight-normal">Jak to działa?</h4>
						<p class="font-weight-light">{% lorem 3 %}</p>
					</div>
					<div class="col-sm">
						<h4 class="font-weight-normal">O mnie:</h4>
						<p class="font-weight-light">{% lorem 1 %}</p>
					</div>
				</div>
			</div>
		</footer>

	</main>

</body>
{% endblock %}